*{
    font-family: "SF Pro Display", sans-serif, font-awesome;
    font-size: 14px;
    color: white;
    background: transparent;
}

window#waybar {
    background-color: transparent;
    padding: 4px 10px;
    margin: 5px;
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 15px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
    background-color: transparent;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.5);
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#tray
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#network,
#custom-date,
#clock {
    color: white;
    font-size: 13px;
    font-weight: 700;
}

#custom-launcher {
    color: white;
    padding: 0 0 0 13px;
    font-size: 23px;
}

#custom-text {
    padding-left: 1px;
    font-weight: 600;
}
#tray menu {
  background-color: #363a4f;
  color: white;
}
