window {
border-radius: 25px;
margin: 0px;
border: 2px solid #bd93f9;
#opactiy: 0.50;
#background-color: transparent;
background: rgba(0, 0, 0, 0.4);
}

#input {
margin: 5px;
border: none;
background-color: transparent;
}

#inner-box {
margin: 5px;
border: none;
background-color: transparent;
}

#outer-box {
margin: 5px;
border: none;
background-color: transparent;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
} 

#entry.activatable #text {
color: #282a36;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
border-radius: 25px;
margin: 0px;
border: 2px solid #bd93f9;
background-color: transparent;
}

#entry:selected #text {
font-weight: bold;
}
